
@{
    ViewData["Title"] = "Hotel";
}

<h1 class="text-center">Index - Hotel</h1>

<div class="row text-center justify-content-center">

    <div class="col-12">
        <a id="btn1" onclick="increment(this)" class="btn btn-primary btn-lg w-50 rounded font-weight-bolder align-middle" style="height:500px">0</a>
        <br />
        <br />
    </div>
    <div class="col-12">
        <a id="btn2" onclick="increment(this)" class="btn btn-primary btn-lg w-50 rounded font-weight-bolder" style="height:500px">0</a>
        <br />
        <br />
    </div>
    <script src="~/js/site.js"></script>



</div>

