@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="row">
    <div class="col-12 text-center">
        <img src="img/pic1.jpg" class="rounded-pill spinner-grow-xl "/>
    </div>
</div>
<script></script>